[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": "cmd=frappe.core.doctype.file.file.create_new_folder&file_name=test_folder&folder=Home",
        "status": 409,
        "response": {
            "exc": "[\"Traceback (most recent call last):\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/app.py\\\", line 61, in application\\n    response = frappe.handler.handle()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 21, in handle\\n    data = execute_cmd(cmd)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 56, in execute_cmd\\n    return frappe.call(method, **frappe.form_dict)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\\\", line 1027, in call\\n    return fn(*args, **newargs)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/core/doctype/file/file.py\\\", line 333, in create_new_folder\\n    file.insert()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/model/document.py\\\", line 237, in insert\\n    raise e\\nDuplicateEntryError: (u'File', u'Home/test_folder', IntegrityError(1062, u\\\"Duplicate entry 'Home/test_folder' for key 'PRIMARY'\\\"))\\n\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]