[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "frappe.desk.tags.get_tagged_docs",
            "doctype": "Item",
            "tag": "tag-2"
        },
        "status": 200,
        "response": {
            "message": [
                [
                    "Item A"
                ],
                [
                    "Item B"
                ]
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]