[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "frappe.desk.form.assign_to.add",
            "doctype": "Item",
            "name": "A",
            "description": "Test Assign",
            "assign_to": "test@test.com",
            "myself": 0,
            "priority": "High",
            "date": "2050-12-31",
            "bulk_assign": 0,
            "notify": 0
        },
        "status": 417,
        "response": {
            "exc": "[\"Traceback (most recent call last):\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/app.py\\\", line 61, in application\\n    response = frappe.handler.handle()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 21, in handle\\n    data = execute_cmd(cmd)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 56, in execute_cmd\\n    return frappe.call(method, **frappe.form_dict)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\\\", line 1027, in call\\n    return fn(*args, **newargs)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/desk/form/assign_to.py\\\", line 64, in add\\n    }).insert(ignore_permissions=True)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/model/document.py\\\", line 216, in insert\\n    self._validate_links()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/model/document.py\\\", line 741, in _validate_links\\n    frappe.LinkValidationError)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\\\", line 352, in throw\\n    msgprint(msg, raise_exception=exc, title=title, indicator='red')\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\\\", line 338, in msgprint\\n    _raise_exception()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\\\", line 311, in _raise_exception\\n    raise raise_exception(msg)\\nLinkValidationError: Could not find Reference Name: A\\n\"]",
            "_server_messages": "[\"{\\\"message\\\": \\\"Could not find Reference Name: A\\\", \\\"indicator\\\": \\\"red\\\"}\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]