[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.assign_doc.getDocsAssignedToUser",
            "user": "test@test.com",
            "status": "Open",
            "doctype": "Customer"
        },
        "status": 200,
        "response": {
            "message": [
                {
                    "status": "Open",
                    "description": "Assignment",
                    "assignedToFullName": "Test User",
                    "assignedBy": "test@test.com",
                    "assignedByFullName": "Test User",
                    "priority": "Medium",
                    "assignedTo": "test@test.com",
                    "doctype": "Customer",
                    "docname": "Customer A",
                    "dueDate": "2019-06-19"
                },
                {
                    "status": "Open",
                    "description": "Assignment",
                    "assignedToFullName": "Test User",
                    "assignedBy": "test@test.com",
                    "assignedByFullName": "Test User",
                    "priority": "Medium",
                    "assignedTo": "test@test.com",
                    "doctype": "Customer",
                    "docname": "Test Customer",
                    "dueDate": "2019-06-19"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]