[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "frappe.desk.tags.add_tag",
            "dt": "Item",
            "dn": "non_existing",
            "tag": "tag-1"
        },
        "status": 404,
        "response": {
            "_server_messages": "[\"{\\\"message\\\": \\\"Item non_existing not found\\\", \\\"indicator\\\": \\\"red\\\"}\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]