[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "get",
        "path": "/?cmd=frappe.client.get_value&doctype=NON-EXISTING&filters=non_existing&fieldname=item_name",
        "body": "",
        "status": 404,
        "response": {
            "_server_messages": "[\"{\\\"message\\\": \\\"DocType NON-EXISTING not found\\\", \\\"indicator\\\": \\\"red\\\"}\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]