[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "frappe.desk.tags.get_tags",
            "doctype": "non-existing",
            "txt": "",
            "cat_tags": "[]"
        },
        "status": 500,
        "response": {
            "exc": "[\"Traceback (most recent call last):\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/app.py\\\", line 61, in application\\n    response = frappe.handler.handle()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 21, in handle\\n    data = execute_cmd(cmd)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 56, in execute_cmd\\n    return frappe.call(method, **frappe.form_dict)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/[...]
