[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "get",
        "path": "/api/method/renovation/doc/Customer/Test%20Customer",
        "body": "",
        "status": 200,
        "response": {
            "status": "success",
            "data": {
                "customer_primary_address": null,
                "customer_details": null,
                "email_id": null,
                "naming_series": "CUST-.YYYY.-",
                "image": null,
                "creation": "2019-04-29 15:25:30.202210",
                "doctype": "Customer",
                "disabled": 0,
                "salutation": null,
                "accounts": [],
                "mobile_no": "00971509999999",
                "owner": "test@test.com",
                "lead_name": null,
                "bypass_credit_limit_check_at_sales_order": 0,
                "customer_name": "Test Customer",
                "default_currency": null,
                "modified_by": "test@test.com",
                "default_sales_partner": null,
                "customer_type": "Company",
                "payment_terms": null,
                "default_bank_account": null,
                "docstatus": 0,
                "territory": "All Territories",
                "website": null,
                "customer_name_in_arabic": null,
                "parent": null,
                "default_commission_rate": 0,
                "market_segment": null,
                "is_internal_customer": 0,
                "language": "en",
                "primary_address": null,
                "customer_primary_contact": "Test Customer-Test Customer",
                "represents_company": null,
                "tax_id": null,
                "credit_limit": 0,
                "name": "Test Customer",
                "idx": 8,
                "gender": null,
                "customer_group": "All Customer Groups",
                "companies": [],
                "modified": "2019-04-29 15:25:31.004482",
                "loyalty_program": null,
                "parenttype": null,
                "default_price_list": null,
                "loyalty_program_tier": null,
                "is_frozen": 0,
                "customer_pos_id": null,
                "industry": null,
                "sales_team": [],
                "parentfield": null
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]