[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/api/method/renovation/report",
        "body": {
            "report": "Items Valuation Rate",
            "filters": {},
            "user": null
        },
        "status": 200,
        "response": {
            "status": null,
            "execution_time": 0,
            "chart": null,
            "result": [
                [
                    "TEST ITEM",
                    "TEST ITEM",
                    null
                ],
                [
                    "Item A",
                    "Item A TEST",
                    20
                ]
            ],
            "add_total_row": 0,
            "message": null,
            "data_to_be_printed": null,
            "columns": [
                {
                    "width": "150",
                    "type": "Link",
                    "options": "Item",
                    "label": "Item Code"
                },
                {
                    "width": "250",
                    "type": "Data",
                    "options": null,
                    "label": "Item Name"
                },
                {
                    "width": "100",
                    "type": "Currency",
                    "options": null,
                    "label": "Valuation Rate"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]