[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "frappe.desk.form.assign_to.add_multiple",
            "doctype": "Item",
            "name": "[\"Item A\",\"Item B\"]",
            "assign_to": "test@test.com",
            "myself": 0,
            "bulk_assign": 1,
            "notify": 0
        },
        "status": 200,
        "response": {
            "docinfo": {
                "communications": [],
                "assignments": [
                    {
                        "owner": "test@test.com",
                        "name": "16bb827fde",
                        "description": "Assignment"
                    }
                ],
                "rating": 0,
                "attachments": [],
                "versions": [
                    {
                        "owner": "test@test.com",
                        "creation": "2019-06-19 15:06:46.035375",
                        "data": "{\n \"comment\": \"Test User self assigned this task: Assignment\", \n \"comment_type\": \"Assigned\"\n}",
                        "name": "1d8a892e6b"
                    },
                    {
                        "owner": "test@test.com",
                        "creation": "2019-06-19 14:57:27.379510",
                        "data": "{\n \"comment\": \"Assignment closed by Test User\", \n \"comment_type\": \"Assignment Completed\"\n}",
                        "name": "7d9ed67900"
                    },
                    {
                        "owner": "test@test.com"[...]
[...]
