[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "frappe.desk.form.assign_to.remove",
            "doctype": "Customer",
            "name": "Customer A",
            "assign_to": "test@test.com"
        },
        "status": 200,
        "response": {
            "message": [
                {
                    "owner": "Administrator",
                    "description": "Assignment"
                }
            ],
            "docinfo": {
                "communications": [],
                "assignments": [
                    {
                        "owner": "Administrator",
                        "name": "22f1b442a6",
                        "description": "Assignment"
                    }
                ],
                "rating": 0,
                "attachments": [],
                "versions": [
                    {
                        "owner": "test@test.com",
                        "creation": "2019-06-19 15:06:52.567051",
                        "data": "{\n \"comment\": \"Assignment closed by Test User\", \n \"comment_type\": \"Assignment Completed\"\n}",
                        "name": "6636cd690b"
                    },
                    {
                        "owner": "test@test.com",
                        "creation": "2019-06-19 15:06:48.470419",
                        "data": "{\n \"comment\": \"Test User assigned Administrator: Assignment\", \n \"comment_type\": \"Assigned\"\n}",
                        "name": "9fdbfcc222"
                    },
                    {
                        "owner": "[...]
[...]
