[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/api/method/login",
        "body": "usr=test%40test.com&pwd=some%20random%20wrong%20password",
        "status": 401,
        "response": {
            "message": "Incorrect password",
            "exc": "[\"Traceback (most recent call last):\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/app.py\\\", line 58, in application\\n    init_request(request)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/app.py\\\", line 120, in init_request\\n    frappe.local.http_request = frappe.auth.HTTPRequest()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/auth.py\\\", line 51, in __init__\\n    frappe.local.login_manager = LoginManager()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/auth.py\\\", line 105, in __init__\\n    if self.login()==False: return\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/auth.py\\\", line 126, in login\\n    self.authenticate(user=user, pwd=pwd)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/auth.py\\\", line 210, in authenticate\\n    self.user = self.check_password(user, pwd)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/auth.py\\\", line 229, in check_password\\n    self.fail('Incorrect password', user=user)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/auth.py\\\", line 237, in fail\\n    raise frappe.AuthenticationError\\nAuthenticationError\\n\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]