[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "get",
        "path": "/api/method/frappe.auth.get_logged_user",
        "body": "",
        "status": 200,
        "response": {
            "home_page": "/desk",
            "message": "Logged In",
            "user": "test@test.com",
            "full_name": "Test User",
            "has_quick_login_pin": false
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]