[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.auth.pin_login",
            "user": "00971509999999@example.com",
            "pin": "000000"
        },
        "status": 401,
        "response": {
            "message": "Incorrect password",
            "exc": "[\"Traceback (most recent call last):\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/app.py\\\", line 61, in application\\n    response = frappe.handler.handle()\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 21, in handle\\n    data = execute_cmd(cmd)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/handler.py\\\", line 56, in execute_cmd\\n    return frappe.call(method, **frappe.form_dict)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\\\", line 1027, in call\\n    return fn(*args, **newargs)\\n  File \\\"/home/frappe/frappe-bench/apps/renovation_core/renovation_core/utils/auth.py\\\", line 83, in pin_login\\n    login.fail('Incorrect password', user=user)\\n  File \\\"/home/frappe/frappe-bench/apps/frappe/frappe/auth.py\\\", line 237, in fail\\n    raise frappe.AuthenticationError\\nAuthenticationError\\n\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]