[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.auth.pin_login",
            "user": "00971509999999@example.com",
            "pin": "123456"
        },
        "status": 200,
        "response": {
            "customer": "Test Customer",
            "home_page": "/me",
            "user": "00971509999999@example.com",
            "full_name": "Test Customer",
            "message": "00971509999999@example.com",
            "has_quick_login_pin": true
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]