[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/api/method/renovation/auth.sms.verify",
        "body": "mobile=00971554121400&pin=451386&loginToUser=1",
        "status": 200,
        "response": {
            "customer": "TEST REGISTER CUSTOMER",
            "status": "verified",
            "home_page": "/me",
            "mobile": "00971554121400",
            "user": "00971554121400@example.com",
            "full_name": "TEST REGISTER CUSTOMER",
            "message": "No App",
            "has_quick_login_pin": false
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]