[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/?cmd=renovation_core.db.query.get_list_with_child&doctype=Renovation+Script&fields=name,code&filters=%7B%22target_dt%22:%22Item+Group%22%7D&order_by=modified+desc&limit_start=0&limit_page_length=99",
        "body": "",
        "status": 200,
        "response": {
            "message": [
                {
                    "code": "// ITEM _ TEST SCRIPT _ DO NOT DELETE\n(core) => {\n\ncore.disableSubmission = true;\n\n}",
                    "name": "ITEM - TEST SCRIPT"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]