[
    {
        "scope": "https://arsa-dev-backend.leam.ae:443",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.logging.log_warning",
            "content": "Test",
            "tags": "[]"
        },
        "status": 200,
        "response": {
            "message": {
                "name": "ffaa7237fa",
                "owner": "Guest",
                "creation": "2019-12-24 22:13:43.274631",
                "modified": "2019-12-24 22:13:43.274631",
                "modified_by": "Guest",
                "idx": 0,
                "docstatus": 0,
                "type": "Warning",
                "user": "Guest",
                "content": "Test",
                "doctype": "Renovation Log",
                "tags": [
                    {
                        "name": "c38da0924c",
                        "owner": "Guest",
                        "creation": "2019-12-24 22:13:43.274631",
                        "modified": "2019-12-24 22:13:43.274631",
                        "modified_by": "Guest",
                        "parent": "ffaa7237fa",
                        "parentfield": "tags",
                        "parenttype": "Renovation Log",
                        "idx": 1,
                        "docstatus": 0,
                        "tag": "arsa-dev-backend.leam.ae",
                        "doctype": "Renovation Log Tag Selector"
                    }
                ]
            },
            "_debug_messages": "[\"method:renovation_core.utils.logging.log_warning\", \"{'log_type': 'Warning', 'content': 'Test', 'title': None, 'tags': '[\\\\n \\\"arsa-dev-backend.leam.ae\\\"\\\\n]'}\"]"
        },
        "rawHeaders": [
            "Tue, 24 Dec 2019 18:13:43 GMT",
            "Content-Type",
            "application/json",
            "chunked",
            "close",
            "X-Client-Site",
            "arsa-dev-backend.leam.ae",
            "sid=Guest; Expires=Fri, 27-Dec-2019 19:13:43 GMT; Path=/",
            "system_user=yes; Path=/",
            "full_name=Guest; Path=/",
            "user_id=Guest; Path=/",
            "user_image=; Path=/",
            "true",
            "GET, POST, PUT, DELETE, OPTIONS",
            "DYNAMIC",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "54a48cfc98c9aa78-SIN"
        ]
    },
[...]
