[
    {
        "scope": "https://arsa-dev-backend.leam.ae:443",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.logging.log_info",
            "content": "Test Info 2",
            "tags": "[\"TAG1\",\"TAG2\"]",
            "title": "TitleA"
        },
        "status": 200,
        "response": {
            "message": {
                "name": "9860ab75ba",
                "owner": "Guest",
                "creation": "2019-12-24 21:59:55.322369",
                "modified": "2019-12-24 21:59:55.322369",
                "modified_by": "Guest",
                "idx": 0,
                "docstatus": 0,
                "type": "Info",
                "user": "Guest",
                "title": "TitleA",
                "content": "Test Info 2",
                "doctype": "Renovation Log",
                "tags": [
                    {
                        "name": "a8bd71d7f1",
                        "owner": "Guest",
                        "creation": "2019-12-24 21:59:55.322369",
                        "modified": "2019-12-24 21:59:55.322369",
                        "modified_by": "Guest",
                        "parent": "9860ab75ba",
                        "parentfield": "tags",
                        "parenttype": "Renovation Log",
                        "idx": 1,
                        "docstatus": 0,
                        "tag": "TAG2",
                        "doctype": "Renovation Log Tag Selector"
                    },
                    {
                        "name": "9bf64710ca",
                        "owner": "Guest",
                        "creation": "2019-12-24 21:59:55.322369",
                        "modified": "2019-12-24 21:59:55.322369",
                        "modified_by": "Guest",
                        "parent": "9860ab75ba",
                        "parentfield": "tags",
                        "parenttype": "Renovation Log",
                        "idx": 2,
                        "docstatus": 0,
                        "tag": "arsa-dev-backend.leam.ae",
                        "doctype": "Renovation Log Tag Selector"
                    },
                    {
                        "name": "a30f4107af",
                        "owner": "Guest",
                        "creation": "2019-12-24 21:59:55.322369",
                        "modified": "2019-12-24 21:59:55.322369",
                        "modified_by": "Guest",
                        "parent": "9860ab75ba",
                        "parentfield": "tags",
                        "parenttype": "Renovation Log",
                        "idx": 3,
                        "docstatus": 0,
                        "tag": "TAG1",
                        "doctype": "Renovation Log Tag Selector"
                    }
                ]
            },
            "_debug_messages": "[\"method:renovation_core.utils.logging.log_info\", \"{'log_type': 'Info', 'content': 'Test Info 2', 'title': 'TitleA', 'tags': '[\\\\n \\\"TAG1\\\",\\\\n \\\"TAG2\\\",\\\\n \\\"arsa-dev-backend.leam.ae\\\"\\\\n]'}\"]"
        },
        "rawHeaders": [
            "Tue, 24 Dec 2019 17:59:55 GMT",
            "Content-Type",
            "application/json",
            "chunked",
            "close",
            "X-Client-Site",
            "arsa-dev-backend.leam.ae",
            "sid=Guest; Expires=Fri, 27-Dec-2019 18:59:55 GMT; Path=/",
            "system_user=yes; Path=/",
            "full_name=Guest; Path=/",
            "user_id=Guest; Path=/",
            "user_image=; Path=/",
            "true",
            "GET, POST, PUT, DELETE, OPTIONS",
            "DYNAMIC",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "54a478c63e24dd0e-SIN"
        ]
    },
[...]
