[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "get",
        "path": "/api/method/renovation_core.utils.client.get_current_user_roles",
        "body": "",
        "status": 200,
        "response": {
            "message": [
                "Sales Master Manager",
                "Renovation Service User",
                "Stock User",
                "Projects Manager",
                "Blogger",
                "Sales Manager",
                "Purchase Manager",
                "Accounts Manager",
                "Sales User",
                "Expense Approver",
                "Item Manager",
                "Projects User",
                "Purchase User",
                "Fleet Manager",
                "Stock Manager",
                "System Manager",
                "Accounts User",
                "HR Manager",
                "All",
                "Guest"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    },
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.meta.get_bundle",
            "doctype": "Item"
        },
        "status": 200,
        "response": {
            "message": {
                "metas": [
                    {
                        "timeline_field": null,
                        "image_view": 0,
                        "color": null,
                        "allow_import": 1,
                        "app": null,
                        "is_submittable": 0,
                        "search_fields": "item_name,description,item_group,customer_code",
                        "track_changes": 1,
                        "track_seen": 0,
                        "__calendar_js": null,
                        "print_outline": null,
                        "owner": "Administrator",
                        "allow_events_in_timeline": 0,
                        "_fields": [
                            {
                                "collapsible": 0,
                                "app_name": null,
                                "print_width": null,
                                "no_copy": 1,
                                "depends_on": null,
                                "creation": "2019-04-27 20:45:45.942455",
                                "search_fields": null,
                                "doctype": "DocField",
                                "oldfieldname": null,
                                "owner": "Administrator",
                                "in_list_view": 0,
                                "in_standard_filter": 0,
                                "modified": "2019-04-27 20:45:45.942455",
                                "reqd": 0,
                                "ignore_xss_filter": 0,
                                "in_global_search": 0,
                                "collapsible_depends_on": null,
                                "in_filter": null,
                                "read_only": 1,
                                "print_hide": 0,
                                "modified_by": "Administrator",
                                "fetch_if_empty": 0,
                                "_comments": null,
                                "ignore_user_permissions": 0,
                                "length": null,
                                "label": "Hub Sync ID",
                                "print_hide_if_no_value": 0,
                                "width": null,
                                "allow_bulk_edit": null,
                                "trigger": null,
                                "linked_document_type": null,
                                "set_only_once": null,
                                "oldfieldtype": null,
                                "docstatus": 0,
                                "hidden": 1,
                                "fetch_from": null,
                                "columns": 0,
                                "insert_after": null,
                                "_liked_by": null,
                                "bold": 0,
                                "parent": "Item",
                                "search_index": 0,
                                "allow_on_submit": 0,
                                "precision": null,
                                "is_custom_field": 1,
                                "_assign": null,
                                "remember_last_selected_value": null,
                                "dt": "Item",
                                "unique": 1,
                                "_user_tags": null,
                                "name": "Item-hub_sync_id",
                                "idx": 1,
                                "default": null,
                                "allow_in_quick_entry": null,
                                "description": null,
                                "translatable": 0,
                                "permlevel": 0,
                                "parenttype": "DocType",
                                "fieldname": "hub_sync_id",
                                "fieldtype": "Data",
                                "options": null,
                                "report_hide": 0,
                                "parentfield": "fields"
                            },
                            {
                                "collapsible": 0,
                                "print_width": null,
                                "no_copy": 0,
                                "oldfieldtype": null,
                                "creation": "2013-05-03 10:45:46",
                                "search_fields": null,
                                "doctype": "DocField",
                                "oldfieldname": n[...]
