[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.meta.get_bundle",
            "doctype": "NON-EXISTING"
        },
        "status": 404,
        "response": {
            "_server_messages": "[\"{\\\"message\\\": \\\"DocType NON-EXISTING not found\\\", \\\"indicator\\\": \\\"red\\\"}\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    },
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "get",
        "path": "/api/method/renovation_core.utils.client.get_current_user_roles",
        "body": "",
        "status": 200,
        "response": {
            "message": [
                "Sales Master Manager",
                "Renovation Service User",
                "Stock User",
                "Projects Manager",
                "Blogger",
                "Sales Manager",
                "Purchase Manager",
                "Accounts Manager",
                "Sales User",
                "Expense Approver",
                "Item Manager",
                "Projects User",
                "Purchase User",
                "Fleet Manager",
                "Stock Manager",
                "System Manager",
                "Accounts User",
                "HR Manager",
                "All",
                "Guest"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]