[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "get",
        "path": "/api/method/frappe.desk.reportview.get?doctype=Item&fields=[%22count(%60tabItem%60.name)+as+total_count%22]&cmd=frappe.desk.reportview.get",
        "body": "",
        "status": 200,
        "response": {
            "message": {
                "keys": [
                    "total_count"
                ],
                "values": [
                    [
                        2
                    ]
                ]
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]