[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "post",
        "path": "/",
        "body": {
            "cmd": "renovation_core.utils.meta.get_bundle",
            "doctype": "NON-EXISTING DOCTYPE"
        },
        "status": 404,
        "response": {
            "_server_messages": "[\"{\\\"message\\\": \\\"DocType NON-EXISTING DOCTYPE not found\\\", \\\"indicator\\\": \\\"red\\\"}\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]