[
    {
        "scope": "http://v11-test-erp.leam.ae:80",
        "method": "get",
        "path": "/api/method/renovation/doc/Renovation%20Report/NON-EXISTING",
        "body": "",
        "status": 200,
        "response": {
            "status": "failed",
            "exception": "DoesNotExistError(u'Renovation Report NON-EXISTING not found',)",
            "traceback": "Traceback (most recent call last):\n  File \"/home/frappe/frappe-bench/apps/renovation_core/renovation_core/utils/doc.py\", line 25, in get_doc\n    doc = frappe.get_doc(doctype, name)\n  File \"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\", line 725, in get_doc\n    doc = frappe.model.document.get_doc(*args, **kwargs)\n  File \"/home/frappe/frappe-bench/apps/frappe/frappe/model/document.py\", line 69, in get_doc\n    return controller(*args, **kwargs)\n  File \"/home/frappe/frappe-bench/apps/frappe/frappe/model/document.py\", line 104, in __init__\n    self.load_from_db()\n  File \"/home/frappe/frappe-bench/apps/frappe/frappe/model/document.py\", line 141, in load_from_db\n    frappe.throw(_(\"{0} {1} not found\").format(_(self.doctype), self.name), frappe.DoesNotExistError)\n  File \"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\", line 352, in throw\n    msgprint(msg, raise_exception=exc, title=title, indicator='red')\n  File \"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\", line 338, in msgprint\n    _raise_exception()\n  File \"/home/frappe/frappe-bench/apps/frappe/frappe/__init__.py\", line 311, in _raise_exception\n    raise raise_exception(msg)\nDoesNotExistError: Renovation Report NON-EXISTING not found\n",
            "data": "failed",
            "_server_messages": "[\"{\\\"message\\\": \\\"Renovation Report NON-EXISTING not found\\\", \\\"indicator\\\": \\\"red\\\"}\"]"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    }
]